<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="main">
        <div class="section" id="base_info">
            <div align="center" >
<!--                #对应从数据库中取得需要展示用户的数据信息, 14个字段-->
                <img id="head_pic" src={{ baseinfo['head_pic'] }} width="168" height="168">
                <p>您好！&nbsp;<strong style="color:#FA8072">{{ baseinfo['nickname'] }}</strong></p>
                <p>截止至&nbsp;<b style="color:#FA8072">{{ baseinfo['update_time'] }}</b></p>
                <p>您在简书关注了<b style="color:#FA8072">{{ baseinfo['like_users_num'] }}</b>个用户，
                    拥有粉丝<b style="color:#FA8072">{{ baseinfo['followers_num'] }}</b>个。</p>
                <p>发表文章<b style="color:#FA8072">{{ baseinfo['share_notes_num'] }}</b>篇，
                    写下文字<b style="color:#FA8072">{{ baseinfo['words_num'] }}</b>个，
                    文章收获喜欢<b style="color:#FA8072">{{ baseinfo['be_liked_num'] }}</b>个,
                    喜欢文章<b style="color:#FA8072">{{ baseinfo['like_notes_num'] }}</b>篇</p>
                <p>关注专题<b style="color:#FA8072">{{ baseinfo['like_colls_num'] }}</b>个，
                关注文集<b style="color:#FA8072">{{ baseinfo['like_nbs_num'] }}</b>个。</p>
                <p>发表评论<b style="color:#FA8072">{{ baseinfo['comment_notes_num'] }}</b>次，
                点赞别人评论<b style="color:#FA8072">{{ baseinfo['like_comments_num'] }}</b>次。</p>
                <p>打赏文章<b style="color:#FA8072">{{ baseinfo['reward_notes_num'] }}</b>次</p>
            </div>
        </div>
        <div class="section" id="firt_tag_time">
            <div align="center">
                <h3>加入简书以来的第一次</h3>
                <p>
                   你于 <b style="color: #FA8072">{{ first_tag_time['join_time']}}</b>加入简书
                </p>
<!--                第一次关注用户-->
                {% if first_tag_time['first_like_user'] %}
                    <p>
                      <b style="color: #FA8072">{{ first_tag_time['first_like_user']['time']|safe }}</b>
                      &nbsp;
                      <a href="http://www.jianshu.com/u/{{ first_tag_time['first_like_user']['slug']|safe }}" target="_blank">第一次关注用户</a>
                    </p>
                {% endif %}
<!--                第一次发表文章-->
                {% if first_tag_time['first_share_note'] %}
                    <p>
                        <b style="color: #FA8072">{{ first_tag_time['first_share_note']['time']|safe }}</b>
                        <a href="http://www.jianshu.com/u/{{ first_tag_time['first_share_note']['slug']|safe }}" target="_blank">第一次发表文章</a>
                    </p>
                {% endif %}
<!--                第一次喜欢文章-->
                {% if first_tag_time['first_like_note'] %}
                    <p>
                        <b style="color: #FA8072">{{ first_tag_time['first_like_note']['time']|safe }}</b>
                        <a href="http://www.jianshu.com/u/{{ first_tag_time['first_like_note']['slug']|safe }}" target="_blank">第一次喜欢文章</a>
                    </p>
                {% endif %}
<!--                第一次关注专题-->
                {% if %}

                {% endif %}
<!--                第一次关注文集-->
                {% if %}

                {% endif %}
<!--                第一次发表评论-->
                {% if %}

                {% endif %}
<!--                第一次赞了评论-->
                {% if %}

                {% endif %}
<!--                第一次打赏文章-->
                {% if %}

                {% endif %}

            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="../static/js/echarts.js"></script>
<script type="text/javascript" src="../static/js/echarts-wordcloud.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.fullPage.js"></script>
<!--样式表-->
<link rel="stylesheet" href="../static/css/jquery.fullPage.css">

<script type="text/javascript">
    $(function (){
        $('#main').fullpage({
            sectionsColor:"#666666"
        });
    });
</script>
